

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# Python distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp


# Excel temporary files
~$*.xlsx
~$*.xls
